# OSX
.DS_Store

# IDE
.idea

# file
examples/
types
coverage
test
types
CONTRIBUTING.md
docs

# npm
node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml

# config
tsconfig.json
tsup.config.ts
commitlint.config.ts
babel.config.js
prettier.config.js
.prettierrc
.gitignore
.eslintrc.json
.eslintrc.js
.eslintignore
.editorconfig
jest.config.js
.changeset
.husky
.github
.travis.yml
.vitepress
.changeset
todo
*.tgz


